.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  &__title {
  }
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__input {
    width: 500px;
  }
  &__button {
    margin-top: 10px;
  }
}
