
<ng-container [ngSwitch]="docId | async">
  <form
    *ngSwitchCase="0"
    class="card flex flex-column justify-content-center align-items-center mt-5"
    [formGroup]="studentForm"
    (ngSubmit)="onSubmit()"
  >
    <input
      class="w-5"
      type="text"
      pInputText
      placeholder="Fullname"
      formControlName="fullName"
    />
    <input
      class="w-5"
      type="text"
      pInputText
      placeholder="Index Number"
      formControlName="indexNumber"
    />
    <div class="card flex justify-content-left gap-5">
      <div class="flex align-items-center">
        <p-radioButton
          value="stationary"
          formControlName="type"
          inputId="type1"
        ></p-radioButton>
        <label for="type1" class="ml-2">Full-time</label>
      </div>

      <div class="flex align-items-center">
        <p-radioButton
          value="part-time"
          formControlName="type"
          inputId="type2"
        ></p-radioButton>
        <label for="type2" class="ml-2">Part-time</label>
      </div>
    </div>
    <input class="w-5" type="text" pInputText placeholder="Department" />
    <button
      type="submit"
      pButton
      pRipple
      class="p-button-success submit-button w-4 m-3"
      label="{{'HOME.FORM.SUBMIT' | translate }}"
      class="p-button-success w-4 m-3"
    ></button>
  </form>

  <form
    *ngSwitchCase="1"
    class="card flex flex-column justify-content-center align-items-center mt-5"
    [formGroup]="studentForm"
    (ngSubmit)="onSubmit()"
  >
    <input
      class="w-5"
      type="text"
      pInputText
      placeholder="Index Number"
      formControlName="indexNumber"
    />
    <input
      class="w-5"
      type="text"
      pInputText
      placeholder="Fullname"
      formControlName="fullName"
    />
    <input
      class="w-5"
      type="text"
      pInputText
      placeholder="Department"
      formControlName="department"
    />
    <p-dropdown
      [options]="loggedUserData.studentProgrammes"
      formControlName="fieldOfStudy"
      optionLabel="programme"
      placeholder="Select programme"
      class="w-5"
    ></p-dropdown>
    <input
      class="w-5"
      type="text"
      pInputText
      placeholder="Year Of Study"
      formControlName="yearOfStudy"
    />
    <input
      class="w-5"
      type="text"
      pInputText
      placeholder="Company Name"
      formControlName="companyName"
    />
    <input
      class="w-5"
      type="text"
      pInputText
      placeholder="Date From"
      formControlName="dateFrom"
    />
    <input
      class="w-5"
      type="text"
      pInputText
      placeholder="Date to"
      formControlName="dateTo"
    />
    <div class="flex align-items-center">
      <p-radioButton
        value="part-time"
        formControlName="type"
        inputId="type2"
      ></p-radioButton>
      <label for="type2" class="ml-2">Part-time</label>
    </div>
    <button
      type="submit"
      pButton
      pRipple
      label="{{'HOME.FORM.SUBMIT' | translate }}"
      class="p-button-success w-4 m-3"
    ></button>
  </form>

  <form
    *ngSwitchDefault
    class="card flex flex-column justify-content-center align-items-center"
    [formGroup]="studentForm"
    (ngSubmit)="onSubmit()"
  >
    <input
      class="w-5"
      type="text"
      pInputText
      placeholder="Index Number"
      formControlName="indexNumber"
    />
    <input
      class="w-5"
      type="text"
      pInputText
      placeholder="Year Of Study"
      formControlName="yearOfStudy"
    />
    <input
      class="w-5"
      type="text"
      pInputText
      placeholder="Field Of Study"
      formControlName="fieldOfStudy"
    />
    <input
      class="w-5"
      type="text"
      pInputText
      placeholder="Address"
      formControlName="address"
    />
    <input
      class="w-5"
      type="text"
      pInputText
      placeholder="NIP"
      formControlName="NIP"
    />
    <input
      class="w-5"
      type="text"
      pInputText
      placeholder="Regon"
      formControlName="regon"
    />
    <input
      class="w-5"
      type="text"
      pInputText
      placeholder="KRS"
      formControlName="KRS"
    />
    <button
      type="submit"
      pButton
      pRipple
      class="p-button w-4 m-3 submit-button"
      label="{{'HOME.FORM.SUBMIT' | translate }}"
    ></button>
  </form>
</ng-container>

<app-change-date></app-change-date>
