header{
    font-family: sans-serif;
    position: relative;
    background: #FFEDD5;
    padding: none;
    height: 6rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.language-selector-container{
    display: flex;
      align-items: center;
    width: 150px;
}
select.lang{
    margin: 0;
}

.lang{
    
    display: inline-flex;
    text-align: left;
margin-right:1rem ;
margin-bottom:1rem;
}

.flag-icon {
    width: 4rem; 
    margin-right: 10px; 
    text-align: center;
  }

  .selected-flag-icon {
    text-align: center;
    width: 4rem; 
    margin-left: 10px; 
  }

li a{
    color: red;
    background-color: #FFBB77;
    width:6rem;
}
.img-responsive{
    height:6rem;
    padding: 0px;
    margin: 0;

}
a:hover{
    color: white;
    cursor: pointer;
}   

.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

a.logo{
    font-weight: bold;
   
}
ul{
    height: 98%;
    display: flex;
    list-style-type: none;
    margin: 0;
}
ul a{
    
    
    padding: 25%;
    text-align: center;
    height: 100%;
    display: inline-block;
}
a span{
    background:red;
    color: white;
    padding: 0;
border-radius: 100rem;
font-size:  1rem;
}

.menu-container{
    position: relative;
}

.menu{
position: absolute;
z-index: 1;
background: whitesmoke;
display: none;
}
.menu-container:hover .menu{
    display: block;
}
.menu a{
    width: 100%;
    min-width: 8rem;
}