<header>
  <div class="container">
    <a routerLink="/" class="logo">Politechnika Świętokrzyska</a>
    <nav>
      <ul>
        <li>
          <select #langSelect (change)="changeLanguage(langSelect.value)">
            <option
              *ngFor="let lang of translate.getLangs()"
              [value]="lang"
              [selected]="lang === translate.currentLang"
            >
              {{ lang }}
            </option>
          </select>
        </li>
        <li>
          <a routerLink="/login">{{ "HOME.HEADER.LOGIN" | translate }}</a>
        </li>
        <li class="menu-container">
          <a routerLink="/student">{{ "HOME.HEADER.STUDENT" | translate }}</a>
          <div class="menu">
            <a routerLink="/login">{{ "HOME.HEADER.LOGIN" | translate }}</a>
            <a routerLink="/file">{{ "HOME.HEADER.TESTS" | translate }}</a>
            <a>{{ "MENU.HEADER.LOGOUT" | translate }}</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
