header{
    font-family: sans-serif;
    position: relative;
    background: #FFEDD5;
    padding: none;
    height: 6rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.language-selector-container{
    display: flex;
      align-items: center;
    width: 150px;
}
select.lang{
    margin: 0;
}
.language-selector-container select.lang {
    height: 40px;
    background-color: rgba(255, 255, 255, 0); 
    border: 1px solid #ccc; 
    padding: 5px;
    border-color: rgba(255, 255, 255, 0);
  }
  
  .language-selector-container option {
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5); 
  }

.lang{
    
    display: inline-flex;
    text-align: left;
margin-right:1rem ;
margin-bottom:1rem;
}

.flag-icon {
    width: 4rem; 
    margin-right: 10px; 
    text-align: center;
  }

  .selected-flag-icon {
    text-align: center;
    width: 4rem; 
    margin-left: 10px; 
  }

li a{
    border-radius: 15px 0 15px;
    color: red;
    background-color: #FFBB77;
    width:6rem;
}
.img-responsive{
    height:6rem;
    padding: 0px;
    margin: 0;

}
a:hover{
    color: white;
    cursor: pointer;
}   

.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

a.logo{
    font-weight: bold;
   
}
ul{
    height: 98%;
    display: flex;
    list-style-type: none;
    margin: 0;
}
ul a{
    
    
    padding: 25%;
    text-align: center;
    height: 100%;
    display: inline-block;
}
a span{
    background:red;
    color: white;
    padding: 0;
border-radius: 100rem;
font-size:  1rem;
}


.menu a{
    
    margin-bottom: 1rem;
    width: 100%;
    min-width: 4rem;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    position: relative;
  }
  
  .menu-container {
    position: relative;
  }
  
  .menu {
    border-radius: 15px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-left: -125%; /* Przesunięcie w lewo o 10px, dostosuj według potrzeb */
  }
  
  
  .menu-container:hover .menu {
    display: block;
  }
  
  .language-selector-container {
    display: flex;
    align-items: center;
  }
  
  .selected-flag-icon {
    margin-left: 10px;
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
  }
  
  .flag-icon {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    margin-right: 5px;
  }
  