.container {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    //border: 2px solid gray;
    border-radius: 0rem 0 0 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    //background-color: rgba(121, 111, 111, 0.384);
  }
img{

  max-width: 360px;
  height:180px
}

p-card{
margin-left: 2rem;

}
.card{
  border-radius: 15px;
}
  .text {
    padding: 20px;
    text-align: center;
  }

  ul {
    list-style-type: none; /* Usunięcie domyślnego stylu punktów */
    margin: 0;
    padding: 0;
    text-align: left; /* Wyśrodkowanie tekstu na lewo */
  }

  li {
    margin-bottom: 10px; /* Dodatkowy odstęp między elementami listy */
  }