<div class="container">
    <div class="text">
      <ul>
        <li>Terminy i czas trwania praktyki</li>
        <li>Praktyki powinny odbywać się w jednym z podanych niżej terminów:</li>
        <li>3.07.2023r. – 28.07.2023r. (zalecany termin).</li>
        <li>Realizacja praktyki w innym terminie jest możliwa za zgodą Prodziekana ds. studenckich (pisemną zgodę przekazuje student Kierownikowi ds. praktyk przed sporządzeniem Umowy).</li>
        <li>Studenci spoza Kielc, którzy odbywają praktykę w Kielcach, mogą ubiegać się o zakwaterowanie w domu studenckim na czas praktyki.</li>
        <li>Program praktyk dla poszczególnych kierunków został zawarty w załącznikach.</li>
        <!-- <li>Załącznik nr 1AiEP do umowy – Program praktyk dla Kierunku Automatyka i Elektrotechnika Przemysłowa</li>
        <li>Załącznik nr 1ELE do umowy – Program praktyk dla Kierunku Elektrotechnika</li>
        <li>Załącznik nr 1ENE do umowy – Program praktyk dla Kierunku Energetyka</li>
        <li>Załącznik nr 1INF do umowy – Program praktyk dla Kierunku Informatyka</li> -->
      </ul>
    </div>
  </div>