


<div class="container">
  <label for="dataUmowy">{{'HOME.CREATE.PLACE0' | translate }}:</label>
  
  <input pInputText placeholder="{{'HOME.CREATE.PLACE' | translate }}" id="dataUmowy" type="text" [(ngModel)]="formData['data_umowy']" />
  <input pInputText placeholder="{{'HOME.CREATE.PLACE1' | translate }}" id="nazwaDziekan" type="text" [(ngModel)]="formData['nazwa_dziekan']" />
  <input pInputText placeholder="{{'HOME.CREATE.PLACE2' | translate }}" id="nazwaFirmy" type="text" [(ngModel)]="formData['nazwa_firmy']" />
  <input pInputText placeholder="{{'HOME.CREATE.PLACE3' | translate }}" id="ulicaFirmy" type="text" [(ngModel)]="formData['ulica_firmy']" />
  <input pInputText placeholder="{{'HOME.CREATE.PLACE4' | translate }}" type="text" [(ngModel)]="formData['firma_krs']" />
  <input pInputText placeholder="{{'HOME.CREATE.PLACE5' | translate }}" type="text" [(ngModel)]="formData['firma_nip']" />
  <input pInputText placeholder="{{'HOME.CREATE.PLACE6' | translate }}" type="text" [(ngModel)]="formData['firma_regon']" />
  <input pInputText placeholder="{{'HOME.CREATE.PLACE7' | translate }}" id="firmareprez" type="text" [(ngModel)]="formData['firma_reprez']" />
  <input pInputText placeholder="{{'HOME.CREATE.PLACE8' | translate }}" id="nazwastudenta" type="text" [(ngModel)]="formData['nazwa_studenta']" />
  <input pInputText placeholder="{{'HOME.CREATE.PLACE9' | translate }}" id="ulnumerindeksuicaFirmy" type="text" [(ngModel)]="formData['numer_indeksu']" />
  <input pInputText placeholder="{{'HOME.CREATE.PLACE10' | translate }}" id="dataod" type="text" [(ngModel)]="formData['data_od']" />
  <input pInputText placeholder="{{'HOME.CREATE.PLACE11' | translate }}" id="datado" type="text" [(ngModel)]="formData['data_do']" />


  <!-- Buttons for Polish language -->
  <button *ngIf="translate && translate.currentLang === 'pl'" (click)="generatePdf()">Generuj PDF zalacznik 1</button>
  <button *ngIf="translate && translate.currentLang === 'pl'" (click)="generatePdf2()">Generuj PDF zalacznik 2</button>

  <!-- Buttons for English language -->
  <button *ngIf="translate && translate.currentLang === 'en'" (click)="generatePdfENGLISH()">Generate PDF attachment 1</button>
  <button *ngIf="translate && translate.currentLang === 'en'" (click)="generatePdf2ENGLISH()">Generate PDF attachment 2</button>
</div>
