
<div >
    <label for="dataUmowy">Data umowy:</label>
    <input id="dataUmowy" type="text" [(ngModel)]="formData['data_umowy']" placeholder="11.11.23"/>
    <input id="nazwaDziekan" type="text" [(ngModel)]="formData['nazwa_dziekan']"placeholder="Imie Nazwisko dziekana" />
    <input id="nazwaFirmy" type="text" [(ngModel)]="formData['nazwa_firmy']" placeholder="nazwa firmy"/>
    <input id="siedzibaFirmy" type="text" [(ngModel)]="formData['siedziba_firmy']" placeholder="siedziba firmy" />
    <input id="firmakrs" type="text" [(ngModel)]="formData['firma_krs']" placeholder="Krs"/>
    <input id="firmanip" type="text" [(ngModel)]="formData['firma_nip']" placeholder="Nip"/>
    <input id="firmaregon" type="text" [(ngModel)]="formData['firma_regon']" placeholder="Regon"/>
    <input id="firmareprez" type="text" [(ngModel)]="formData['firma_reprez']" placeholder="Wlasciciel Firmy"/>
    <input id="nazwastudenta" type="text" [(ngModel)]="formData['nazwa_studenta']" placeholder="Imie nazwisko studenta" />
    <input id="ulnumerindeksuicaFirmy" type="text" [(ngModel)]="formData['numer_indeksu']" placeholder="Numer indeksu"/>
    <input id="dataod" type="text" [(ngModel)]="formData['data_od']" />
    <input id="datado" type="text" [(ngModel)]="formData['data_do']" />
    
    <button (click)="generatePdf()">Generuj PDF</button>
  </div>
